
    body{
    background-color: black;}
     h3, h2, p, ul {
        color: white;
        
    }
    p, ul {
        font-size: 20px;
    }
    .link {
        text-decoration: none;
        color: rgb(24, 90, 15);
    }
    .item1{
color: yellow;
    }
    .item2{
color: blueviolet;
    }
    .item3{
color: rgba(30, 30, 190, 0.945);
    }
    
        

    
    .logo {
        border-radius: 50%;
        width: 90px;
    }
    .instagram {
font-size: 60px }

     .logo, .instagram {
        display: inline-block;
        
    }
    h2 {font-family: Arial, Helvetica, sans-serif;
        font-size: 50px;
        color: rgba(170, 13, 13, 0.808);
    }
     .header  {

        background-image: url(https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_960_720.jpg);
max-width: 100%;
font-family: monospace;
    color: rgba(170, 13, 13, 0.808);
font-size: 2em;
text-align: center;
     }
    .img {width: 400px;
    border-radius: 90%;
}
    .photo-text  {
color: aliceblue;
font-size: 50px;
padding: 1%;
margin: 10px 100px 0px 0px;
overflow-wrap: break-word;

    }
    .alinig-text {
        float: left;

    }
    .background-img-main {
        background-image: url(https://wallpapers.com/images/hd/stars-glowing-in-universe-d6i8t4m6g9b96s2n.webp);
        width: 100%;
        max-height: 100%;
    }